<ion-header>
  <ion-toolbar>
    <ion-title>Wake Word Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <h3 *ngIf="this.pageLoaded">{{wakeWordDetected}}</h3>
  <app-wake-word-listener *ngIf="this.pageLoaded && wakeWordEnabled"
    [showDebug]="true"
    [showWakeWordToggle]="true"
    [startWakeWord]="true"
    [shouldListenToWakeWord]="true"
    (wakeWordDetectedEvent)="onWakeWordDetectedEvent($event)"
    (wakeWordStateUpdateEvent)="onWakeWordStateUpdate($event)"
  >
  </app-wake-word-listener> -->

  <app-mic-icon></app-mic-icon>
</ion-content>
