<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Speech Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>Ready to Speak?</strong>
    <ion-textarea [value]="data" rows="20" cols="20" placeholder="Text from Text to Speech..."></ion-textarea>
    <ion-button (click)="picoTest()">Pic Test</ion-button>
    <ion-button (click)="pause()">Wake Word Pause</ion-button>
    <ion-button (click)="resume()">Wake Word Resume</ion-button>
    <ion-button (click)="start()">Wake Word Start</ion-button>

    <ul>
      <li *ngFor="let keywordLabel of detections">"{{ keywordLabel }}"</li>
    </ul>
    <h3>Inference:</h3>
    <pre *ngIf="inference !== null">{{ inference | json }}</pre>

    <!-- <app-speech-button
    [vertical]="'bottom'"
    [horizontal]="'center'"
    [slot]="'fixed'"
    (speechResultsEvent)="onSpeechResultsEvent($event)"
  ></app-speech-button> -->
    <!-- <ion-button (click)="start()"></ion-button> -->
  </div>
</ion-content>
    <app-speech-button
    #speechButton
    [vertical]="'bottom'"
    [horizontal]="'center'"
    [slot]="'fixed'"
    (speechResultsEvent)="onSpeechResultsEvent($event)"
  ></app-speech-button>
