<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Speech Test
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <!-- <a href="/visualizertest">Visualizer Test</a> -->
  <div *ngIf="isPageLoaded; else loading">
      <app-wake-word-listener
      [showDebug]="true"
      [showWakeWordToggle]="true"
      [startWakeWord]="true"
      [shouldListenToWakeWord]="true"
      (wakeWordDetectedEvent)="onWakeWordEvent($event)"
      (wakeWordStateUpdateEvent)="onWakeWordStateEvent($event)"
      ></app-wake-word-listener>
      <p> <strong>Ready to Speak?</strong></p>
      <ion-textarea [value]="data" rows="5" cols="15" placeholder="Text from Text to Speech..."></ion-textarea>
  </div>
  <ng-template #loading>
      <ion-skeleton-text></ion-skeleton-text>
  </ng-template>
</ion-content>
<ion-footer>
  <app-speech-button
  #speechButton
  [vertical]="'bottom'"
  [horizontal]="'center'"
  [slot]="'fixed'"
  (speechResultsEvent)="onSpeechResultsEvent($event)"
  ></app-speech-button>
</ion-footer>


<ng-template></ng-template>
